*.iml
.gradle
.idea
/local.properties
/gradle.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/app/*.apk
/app/*/*/*.apk
/app/*/*/*.json
/build
/captures
.externalNativeBuild
google-services.json
/app/.cxx
/rust-lib/.cxx
/rust-lib-release/build
/rust-lib-release-testnet/build
/zec-rust-lib/build

/local